<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Home page</title>
 <link rel="icon" href="{{url_for('static',filename='icon.jpg')}}">
 <style>
  body{
  text-align: center;
  font-size: 30px;
  }




 </style>



</head>
<body>
<a href="gallery">|   Nasza galeria   |</a>
<a href="about"> o nas   |</a>
<a href="contact"> Kontakt   |</a>

<body style="background-color:#1c87c9;">
 <h1> Home Page </h1>
 <img src="{{ url_for('static', filename='cat.jpg') }}" alt="Cat"><br>

</body>
</html>